bin/
obj/
temp_build_verify/

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

TestResults/
BenchmarkDotNet.Artifacts/

*.log
crash.log

packages/
*.nupkg

_ReSharper*/
*.DotSettings.user

.idea/
.vscode/
razer.md
